.maindiv {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maindiv2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.maindiv1 {
  width: 100%;
  height: 99vh;
}
.percent {
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 100px;
  /* margin-top: 200px;
  margin-left: 550px; */
}

.h1 {
  top: 10px;
  color: #45818e;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}
.text {
  text-align: center;
  font-size: 30px;
}
.btn {
    font-weight: 700;
    margin-left: 30px;
  padding: 1rem 4rem;
  background-color: white;
  color: black;
  border-radius: 10px;
  border-color: aliceblue;
  font-size: 20px;
  width:600px;
}


.recharts-wrapper {
  height: 100%;
  width: 100%;
}

.recharts-wrapper > svg {
  width: 100%;
  height: 100%;
}
.percentage {
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: #4aa6ed;
  color: white;
  font-size: 100px;
  font-weight:700;
  border-radius: 40px;
 
  width: 650px;
  height: 140px;
  
}
.btn:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.col-md-3 {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0px;
}

@media only screen and (max-width: 420px){
  .maindiv {
    margin-left: 105px;
    padding-left: 15px;
    padding-right: 15px;
    
  }
  .percent {
    
    margin-top: 200px;
  }
  

}
.machine{
  border: 2px solid white;
  width: 300Px;
  height: 60px;
  text-align: center;
  background-color: #b1bbce ;
  padding: 3px;
  text-decoration: none;
  padding-left: 3px;
  color: black;
  font-size: large;
  padding-top: 15px;
}
.footer{
  border: 2px solid white;
  width: 300Px;
  height: 60px;
  text-align: center;
  background-color: #b1bbce ;
  padding: 3px;
  text-decoration: none;
  padding-left: 3px;
  color: black;
  font-size: large;
  padding-top: 15px;
}
